<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Template</title>

    <!-- Bootstrap core CSS -->
    <link href="css/vendor.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/app.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding-top: 5px;" href="#">Template</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

          </ul>
        </div>
      </div>

    </nav>

    <div class="container-fluid">


      <div class="content row">

      <buttons>
        <p><input type='string' ng-model='username'></p>
        <p><input type='string' ng-model='password'></p>
        <p><button ng-click='register()'>Register</button></p>
        <p><button ng-click='login()'>Login</button></p>
        <p><button ng-click='logout()'>Logout</button></p>
        <p><button ng-click='protected()'>Protected</button></p>
        <p><button ng-click='unprotected()'>Open</button></p>

        <p>{{ message }}</p>
      </buttons>

      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/vendor.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>