html {
    height: 100%;
    margin: 0;
}

body {
    padding: 51px 0px 51px 0px;
    height: 100%;
    margin: 0;
    @media (max-width: 767px) {
        padding-bottom: 0px;
    }
}

.xenmap {
    width:100%;
    min-height: 100%;
    float: left;

    .pane-primary {
        width: 300px;
        height: 90%;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 500;
        margin: 15px;
        background-color: White;
        border-radius: 5px;
        border: 1px solid #cccccc;
    }
}

.leaflet-bottom.leaflet-right {
    display: none;
}